<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<footer th:fragment="siteFooter">

    <div class="footer-row">
        <div class="footer-item">
            <a href="#">Footer Link</a>
        </div>

        <div class="footer-item">
            <a href="#">Footer Link</a>
        </div>
        <div class="footer-item">
            <a href="#">Footer Link</a>
        </div>
        <div class="footer-item">
            <a href="#">Footer Link</a>
        </div>
    </div>
    <div class="footer-row">
        <div class="footer-item">
            <a href="#">Icon</a>
        </div>
        <div class="footer-item">
            <a href="#">Icon</a>
        </div>
    </div>
</footer>
</body>
</html>