<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoatScout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/creation.css}"/>
    <link rel="stylesheet" th:href="@{/css/text.css}"/>
    <script>
        function replace(value) {
            let newVal = event.target.value.replace(/[^0-9]/g, "");
            event.target.value = newVal;
        }
    </script>
</head>


<body>
    <header th:replace="fragments/header/header.html::siteHeader"></header>
    <div class="container">
        <div class="form-container">
            <form method="post" action="/create" enctype="multipart/form-data">
            <h2>Create a listing</h2>
                <div class="row">
                    <label class="col-1" for="name">Name</label>
                    <input class="col-3" id="name" name="name" type="name" placeholder="name" />
                </div>
                <div class="row">
                </div>
                    <input oninput="replace(this.event)"  name="price" type="number" placeholder="50000" />
                <div class="row">
                    <input  name="city" type="text" placeholder="city" />
                </div>
                <div class="row">
<!--                    <input  name="country" type="text" placeholder="country" />-->

                    <input list="countries"  name="country" type="text" placeholder="country">
                    <datalist id="countries">
                        <option th:each="country: ${countries}"
                                th:value="${country}">
                    </datalist>
                </div>
                <div class="row">
                    <input name="files" multiple accept=".image/jpeg,.png,.image/jpg" type="file">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</body>

</html>