<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PhytOne - Your Online Gym</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/sidemenu.css}" />
    <link rel="stylesheet" th:href="@{/css/exercises.css}" />
    <link rel="stylesheet" th:href="@{/css/fonts.css}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">

</head>
<script>

    async function editExercise(exercise) {
        console.log(exercise);
        // try {
        //     const response = await fetch('editExercise/', {
        //         method: 'post',
        //         body: {
        //             ExerciseDTO: exercise
        //         }
        //     });
        //     console.log('Completed!', response);
        // } catch (err) {
        //     console.error(`Error: ${err}`);
        // }

    }

</script>
<body>

<header th:replace="fragments/sidemenu/TrainerSidemenu::trainersideMenu"></header>
    <div class="body" >
        <div class="background">
            <h2>Exercises</h2>

<!--            Looping over all the exercises -->
            <div th:each="exercise: ${exercises}" class="row">
                <div class="column-one">
                    <a th:href="'/exerciseDetail?getId='+${exercise.getExercise_id()}">
                        <img th:id="${exercise.getExercise_id()}" th:src="'data:'+${exercise.getMediaType()}+';base64,'+${exercise.getBufferedImage()}">
                    </a>

                </div>
                <div class="column-two">
                    <a th:href="'/exerciseDetail?getId='+${exercise.getExercise_id()}">
                        <h3 th:text="${exercise.getName()}"></h3>
                        <p th:text="${exercise.getDescription()}"></p>
                    </a>
                </div>
                <div class="column-one">
                    <!--Styling  exercises.css-->
                    <div class="edit-exercise-btn-div">
                        <a th:href="'/editExercise?id='+${exercise.getExercise_id()}">
                            <input th:onclick="editExercise('${exercise}')" type="button" class="edit-exercise-btn" value="Edit">
                        </a>
                    </div>

                    <!--Styling  exercises.css-->
                    <div class="delete-exercise-btn-div">
                        <a th:href="'/deleteExercise?id='+${exercise.getExercise_id()}">
                            <input th:onclick="deleteExercise('${exercise}')" type="button" class="delete-exercise-btn" value="Delete">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
    <footer th:replace="fragments/footer/footer::siteFooter"></footer>
</html>