<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoatScout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/homepage.css}"/>
    <link rel="stylesheet" th:href="@{/css/text.css}"/>
</head>


<body>
    <header th:replace="fragments/header/header.html::siteHeader"></header>

    <div class="hero-image">
        <div style="padding-top: 450px">

            <div class="search-container" >
                <form method="get" action="/listing">
<!--                <ul class="ks-cboxtags">-->
<!--                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash">-->
<!--                        <label for="checkboxOne">New</label>-->
<!--                    </li>-->
<!--                </ul>-->
                    <select name="priceto" id="d">
                        <option  disabled selected>Price to</option>
                        <option value="10000">10.000</option>
                        <option value="20000">20.000</option>
                        <option value="50000">50.000</option>
                        <option value="100000">100.000</option>
                        <option value="200000">200.000</option>
                        <option value="300000">300.000</option>
                        <option value="400000">400.000</option>
                        <option value="500000">500.000</option>
                        <option value="700000">750.000</option>
                    </select>
               <select name="country" id="country">
                   <option  disabled selected>Country</option>
                 <option value="United Kingdom">United Kingdom</option>
                 <option value="Germany">Germany</option>
                </select>
                <select name="brands" id="brands">
                    <option  disabled selected>Brand</option>
                    <option value="Brand">Boat Brand</option>
                </select>
                <select name="type" id="type">
                    <option  disabled selected>Type</option>
                    <option value="Boat">Boat</option>
                    <option value="JetSki">JetSki</option>
                </select>


                <button type="submit" class="search-button">Search</button>

                </form>
            </div>

        </div>
    </div>

</body>

</html>