<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoatScout</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/listings.css}"/>
    <link rel="stylesheet" th:href="@{/css/text.css}"/>
    <link rel="stylesheet" th:href="@{/css/pagination.css}"/>
</head>
<script>
    function sortByChanged() {
        document.getElementById("sorting").submit();
        console.log("Input Changed")
    }
</script>


<body>
    <header th:replace="fragments/header/header.html::siteHeader"></header>

    <div class="grid-container">
        <div class="sidebar">
            <div class="sidebar-background">

                <form method="get" action="/listings">
                    <!--                <ul class="ks-cboxtags">-->
                    <!--                    <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash">-->
                    <!--                        <label for="checkboxOne">New</label>-->
                    <!--                    </li>-->
                    <!--                </ul>-->
                    <div class="row">
                        <label for="country">Brand</label>

                        <select name="priceto" >
                            <option  disabled th:selected="${pricetoParam.isEmpty()}">Price to</option>
                            <option th:each="price : ${pricetoQuery}"
                                    th:value="${price}"
                                    th:selected="(${price} == ${pricetoParam.orElse('')}) ? true : false"
                                    th:text="${price}">
                            </option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="country">Brand</label>
                        <select name="country" id="country">
                            <option  disabled th:selected="${countryParam.isEmpty()}">Country</option>
                            <option th:each="country : ${countriesQuery}"
                                    th:value="${country}"
                                    th:selected="(${country} == ${countryParam.orElse('')}) ? true : false"
                                    th:text="${country}">
                            </option>
                        </select>
                    </div>

                    <div class="row">
                        <label for="brands">Brand</label>
                        <select name="brands" id="brands">
                            <option  disabled th:selected="${brandParam.isEmpty()}">Brand</option>
                            <option th:each="brand : ${brandsQuery}"
                                    th:value="${brand}"

                                    th:selected="(${brand} == ${brandParam.orElse('')}) ? true : false"
                                    th:text="${brand}">
                            </option>
                        </select>
                    </div>

                    <div class="row">
                        <label for="country">Brand</label>
                        <select name="type" id="type">
                            <option  disabled th:selected="${typeParam.isEmpty()}">Type</option>
                            <option th:each="type : ${typeQuery}"
                                    th:value="${type}"
                                    th:selected="(${type} == ${typeParam.orElse('')}) ? true : false"
                                    th:text="${type}">
                            </option>
                        </select>
                    </div>
                </form>

            </div>
        </div>
        <div class="main-grid">

        <div class="container" style="padding: 5px">

            <div class="row">
                <div class="col-1">
                    <p th:text="${totalListings}+' listings found'"></p>
                </div>
                <div class="col-1">

                    <form id="sorting" action="/listing" method="get" >
                        <label for="sort">Sort: </label>
                        <select name="sort" id="sort" oninput="sortByChanged()">
                            <option disabled selected>Default</option>
                            <option value="price_asc">Price ascending</option>
                            <option value="price_desc">Price desc</option>
                        </select>
                    </form>


                </div>

            </div>
        </div>

        <div th:each="listing: ${listings}" style="padding-bottom: 10px; padding-top: 2%">
            <div th:include="fragments/Listing.html::listingFragment(listing=${listing})"></div>
        </div>
        <div class="center">
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a  th:each="i : ${#numbers.sequence( 1, pages)}"  th:href="'listing?page='+${i}" th:text="${i}"></a>
                <a href="#">&raquo;</a>
            </div>
        </div>
        </div>


    </div>

</body>

</html>