<html lang="en" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/login.css}" />
        <title>Login</title>
    </head>
    <body>
        <div class="div2">
    <!--    <form class="signup-form" method="post" checked>-->
    <!--        <input name="username" id="username" type="email" class="input"  autocomplete="off" placeholder="Email">-->
    <!--        &lt;!&ndash; <input type="text" class="input" id="user_name" autocomplete="off" placeholder="Username"> &ndash;&gt;-->
    <!--        <input name="password" type="password" class="input" id="password" autocomplete="off" placeholder="Password">-->
    <!--        <input type="submit" class="button" value="Login">-->
    <!--    </form>-->


        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form action="/myLogin" method="post">
                    <h1>Sign in</h1>

                    <input name="username" type="username" placeholder="Email" />
                    <input name="password" type="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button type="submit">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <a href="/Register">
                            <button class="ghost" id="signUp">Sign Up</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>