<html lang="en" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="div2">
<!--    <form class="login-form" action="/RegisterUser" method="post">-->
<!--        <input name="email" type="text" placeholder="Email">-->
<!--        <input name="userName" type="text" placeholder="Username">-->
<!--        <input name="password" type="password" placeholder="Password">-->
<!--        <input type="password" class="input"  placeholder="Password">-->


<!--        <input type="submit" class="button" value="Register">-->
<!--    </form>-->

    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/RegisterUser" method="post">
                <h1>Sign Up</h1>


                    <input name="mail" type="email" placeholder="Email" />
                    <input name="name" type="text" placeholder="Name" />
                    <input name="password" type="password" placeholder="Password" />
                    <input type="password" placeholder="Password" />
                    <a href="#">Forgot your password?</a>
                    <button type="submit">Sign Up</button>


            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>