<html lang="en" xmlns:th="https://www.thymeleaf.org">
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Header</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
    </head>

    <body>

        <header th:fragment="siteHeader" class = "header_style" >
            <div class="nav">

                <input type="checkbox" id="nav-check">
                <div class="nav-header">
                    <a th:href="@{/}" class = "logo">BoatScout</a>

                </div>
                <div class="nav-btn">
                    <label for="nav-check">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
                <div class="nav-links">
                     <a href = "/listings" >Listings</a>
<!--                         <a href = "#" >Label</a>-->
                         <a href = "/login" >Account</a>

                <a class = "cta" href = "/create"><button>Create Listing</button></a>
                </div>


            </div>
        </header>

    </body>
</html>