.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: auto;
    padding-top: 2%;
}

.form-container {
    /*position: absolute;*/
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

form {
    background-color: #FFFFFF;

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    padding: 0 50px;
    height: 100%;
    /*text-align: center;*/
    margin: auto;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 10px;
}

.row {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.col-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.col-3 {
    display: flex;
    flex-direction: column;
    flex: 3;
}