.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;

    max-width: 600px;
    margin: auto;
}
.grid-container {
    height:100vh;
    display: grid;
    grid-template-columns: 10% 15% 50% 10%;
}
.main-grid {

    grid-column-start:3;
    grid-column-end:4;
    margin-top: 20px;
}
.sidebar {
    grid-column-start:2;
    grid-column-end:2;
    margin-top: 20px;
}


.sidebar-background {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;

}

select {
    margin: auto;
    font-size: 1rem;
    padding: 4px 12px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 24' style='enable-background:new 0 0 24 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st2%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23333333;%7D .st3%7Bfill:%23333333;%7D .st4%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23333333;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st5%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st6%7Bfill:none;stroke:%23C6C6C6;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st7%7Bfill:none;stroke:%23333333;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D .st8%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%2395C11F;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D .st9%7Bfill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:%23E30613;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpath class='st3' d='M12,18c-0.3,0-0.5-0.1-0.7-0.3l-8-8c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l7.3,7.3l7.3-7.3c0.4-0.4,1-0.4,1.4,0 s0.4,1,0,1.4l-8,8C12.5,17.9,12.3,18,12,18z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: -100px -100px;
    background-color: #fff;
    background-position: 99%;
    background-position: right 12px center;
    -webkit-appearance: none;
    -moz-appearance: none;


    width: 90%;
    height: 35px;
    border: 0px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    font-size: 14px;

}
.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.row select {
    margin-top: 5px;
}
img {
    max-width:100%;
    max-height:100%;
}

label {
    color: gray;
    margin: 15px;
}

.col-1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.col-2 {
    display: flex;
    flex-direction: column;
    flex: 1.2;
    padding-left: 15px;
}
.col-3 {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.price {
    color: #0088a9;
    margin: 10px;
}

.location-text {
    color: gray;
    margin: 10px;
}

.header-title {
    margin: 10px;
}

.arrow-left {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.arrow-right {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    justify-content: flex-end
}

@media (max-width:600px) {
    .row {
        flex-direction: column;
    }

    .container {
        width: 300px;
    }

    /*.col-1, .col-2, .col-3 {*/
    /*    flex-direction: row;*/
    /*}*/
    img{
        /*TODO:: Fit image to width and fit image*/
        width: 350px;
    }


}