<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div th:fragment="listingFragment(listing)">
        <script th:inline="javascript">
            /*<![CDATA[*/

            var index = [[${index}]];
            console.log(index);

            /*]]>*/
            function toTheRight() {
                console.log(index);
                index++;
                // [[${index}]] = index++;
            }

            function toTheLeft() {
                console.log(index);
                index++;
                // [[${index}]] = index++;
            }
        </script>
        <div class="container">
            <div class="row">
                <div class="col-1" th:with="index=0">
<!--                    <div onclick="toTheLeft()" class="arrow-left">&#9664;</div>-->
                    <img th:id="${listing.getId()}" th:src="'data:'+${listing.getImages().get(index).getMediaType()}+';base64,'+${listing.getImages().get(index).getBufferedImage()}">
<!--                    <div onclick="toTheRight()" class="arrow-right">&#9654;</div>-->
                </div>
                <div class="col-2">
                    <h3 class="header-title" th:text="${listing.getType()}"></h3>
                    <p class="price" th:text="${listing.getPrice()}"></p>
                    <p class="location-text" th:text="${listing.getCity()}+ ' , ' +${listing.getCountry()}"></p>
                </div>
            </div>
        </div>


    </div>
</body>
</html>